::-webkit-scrollbar {
  width: 13px;
  background-color: var(--grey-1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-1);
  border-radius: 10px;
  border: 2px solid var(--primary-1);
}